.main-container {
    .gameboard {
        margin: 0;
        display: flex;
        flex-direction: row;
        width: 100%;
        margin-top: 8%;
        align-items: center;
        justify-content: space-between;

        .players {
            background-color: rgb(27, 116, 189);
            border: 1px solid black;
            border-radius: 2px;
            .mat-body-1, .mat-body-2 {
                font-weight: 700;
                margin: 10px;
                font-size: 40px;
            }
        }

        
        .player-1 { 
            margin-left: 60px;
            color: rgb(7, 245, 7);
        }

        .player-2 {
            margin-right: 60px;
            color: rgb(247, 47, 47);
        }

        .gamefield {
            margin-right: 20px;
            display: flex;
            float: left;
            max-width: 300px;
            max-height: 300px;
            .row {
                margin: 0;

                .subfield{
                    cursor: pointer;
                    height: 100px;
                    width: 100px;
                    border: 3px solid rgb(70, 67, 67);

                    &.player-one {
                        background-color: rgb(7, 245, 7);
                    }

                    &.player-two {
                        background-color: rgb(247, 47, 47);
                    }
                }

                .col-0 {
                    border-top: 0px;
                    border-left: 0px;
                }
                .col-1 {
                    border-left: 0px;
                }
                .col-2 {
                    border-bottom: 0px;
                    border-left: 0px;
                }
                .col-3 {
                    border-top: 0px;
                }
                .col-5 {
                    border-bottom: 0px;
                }
                .col-6 {
                    border-top: 0px;
                    border-right: 0px;
                }
                .col-7 {
                    border-right: 0px;
                }
                .col-8 {
                    border-bottom: 0px;
                    border-right: 0px;
                }
            
            }
        }
    }
}