<header>
    <div class="hotbar">
        <div class="logo">
            <img src="../../assets/img/logo.png" alt="logo" width=110 height=100>
        </div>
    </div>
</header>

<div class="main-container">

    <div class="field">
        <p class="current-status mat-display-1">
            Comece o jogo clicando no botão
        </p>
    </div>

    <div class="fieldButton" *ngIf="this.game.gameStatus === 0" style="width: 100%">
        <button 
        (click)="startGame()" 
        position="0" 
        mat-flat-button color="warn" 
        class="start-game-button">COMECE AGORA!</button>

    <!--  
        <button 
        (click)="startGame()" 
        position="0" 
        mat-flat-button color="primary" 
        *ngIf="this.game.gameStatus === 1"  
        class="start-game-button">Restart!</button> 
    -->
    </div>


    <div *ngIf="this.game.gameStatus === 1" class="gameboard">

        <div class="players player-1">
            <p class="mat-body-1">Jogador 1</p>
        </div>
        
        <div class="gamefield container-fluid">
            <div class="row">
                <div (click)="clickSubField($event)" position="0" class="subfield col-0">
                    <img *ngIf="this.game.gameField[0] === 1" src="https://www.emoji.co.uk/files/phantom-open-emojis/symbols-phantom/13107-heavy-multiplication-x.png" width=100 height=100>
                    <img *ngIf="this.game.gameField[0] === 2" src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/9f/Red-circle.svg/1024px-Red-circle.svg.png" width=100 height=100>
                </div>
                <div (click)="clickSubField($event)" position="1" class="subfield col-1">
                    <img *ngIf="this.game.gameField[1] === 1" src="https://www.emoji.co.uk/files/phantom-open-emojis/symbols-phantom/13107-heavy-multiplication-x.png" width=100 height=100>
                    <img *ngIf="this.game.gameField[1] === 2" src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/9f/Red-circle.svg/1024px-Red-circle.svg.png" width=100 height=100>
                </div>
                <div (click)="clickSubField($event)" position="2" class="subfield col-2">
                    <img *ngIf="this.game.gameField[2] === 1" src="https://www.emoji.co.uk/files/phantom-open-emojis/symbols-phantom/13107-heavy-multiplication-x.png" width=100 height=100>
                    <img *ngIf="this.game.gameField[2] === 2" src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/9f/Red-circle.svg/1024px-Red-circle.svg.png" width=100 height=100>
                </div>
            </div>
            <div class="row">
                <div (click)="clickSubField($event)" position="3" class="subfield col-3">
                    <img *ngIf="this.game.gameField[3] === 1" src="https://www.emoji.co.uk/files/phantom-open-emojis/symbols-phantom/13107-heavy-multiplication-x.png" width=100 height=100>
                    <img *ngIf="this.game.gameField[3] === 2" src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/9f/Red-circle.svg/1024px-Red-circle.svg.png" width=100 height=100>
                </div>
                <div (click)="clickSubField($event)" position="4" class="subfield col-4">
                    <img *ngIf="this.game.gameField[4] === 1" src="https://www.emoji.co.uk/files/phantom-open-emojis/symbols-phantom/13107-heavy-multiplication-x.png" width=100 height=100>
                    <img *ngIf="this.game.gameField[4] === 2" src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/9f/Red-circle.svg/1024px-Red-circle.svg.png" width=100 height=100>
                </div>
                <div (click)="clickSubField($event)" position="5" class="subfield col-5">
                    <img *ngIf="this.game.gameField[5] === 1" src="https://www.emoji.co.uk/files/phantom-open-emojis/symbols-phantom/13107-heavy-multiplication-x.png" width=100 height=100>
                    <img *ngIf="this.game.gameField[5] === 2" src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/9f/Red-circle.svg/1024px-Red-circle.svg.png" width=100 height=100>
                </div>
            </div>
            <div class="row">
                <div (click)="clickSubField($event)" position="6" class="subfield col-6">
                    <img *ngIf="this.game.gameField[6] === 1" src="https://www.emoji.co.uk/files/phantom-open-emojis/symbols-phantom/13107-heavy-multiplication-x.png" width=100 height=100>
                    <img *ngIf="this.game.gameField[6] === 2" src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/9f/Red-circle.svg/1024px-Red-circle.svg.png" width=100 height=100>
                </div>
                <div (click)="clickSubField($event)" position="7" class="subfield col-7">
                    <img *ngIf="this.game.gameField[7] === 1" src="https://www.emoji.co.uk/files/phantom-open-emojis/symbols-phantom/13107-heavy-multiplication-x.png" width=100 height=100>
                    <img *ngIf="this.game.gameField[7] === 2" src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/9f/Red-circle.svg/1024px-Red-circle.svg.png" width=100 height=100>
                </div>
                <div (click)="clickSubField($event)" position="8" class="subfield col-8">
                    <img *ngIf="this.game.gameField[8] === 1" src="https://www.emoji.co.uk/files/phantom-open-emojis/symbols-phantom/13107-heavy-multiplication-x.png" width=100 height=100>
                    <img *ngIf="this.game.gameField[8] === 2" src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/9f/Red-circle.svg/1024px-Red-circle.svg.png" width=100 height=100>
                </div>
            </div>

        </div>
        
        <div class="players player-2">
            <p class="mat-body-2">jogador 2</p>
        </div>
        
    </div>
</div>
