/* You can add global styles to this file, and also import other style files */

html, body { 
    height: 100%; 
}
body { 
    margin: 0; 
    header {
        margin: 0;  
        .hotbar{
            margin: 0;
            background-color: #202020;
            color:#a9a9a9;
            border: 1px solid #161616;
    
            .logo{
                display: flex;
                justify-content: center;
                margin: 6px;
            }
        }
    }
    
    .fieldButton, .field{
        text-align: center;
        margin: 30px 30px 30px 30px;
        .text {
            color: white;
            font-size: 20px
        }
    }
    .field {
        margin:0;
        margin-top: 30px;
    }

    .fieldButton{
        margin: 0;
    }
    
}
